table {
	margin: 0 0 1.5rem;
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}

tbody {
	th {
		text-align: left;
	}
}

th,
td {
	padding: 0.65rem 0.75rem 0.75rem;
	vertical-align: top;
	border: 1px solid $gray-dark;
}
