
h1,
h2,
h3,
h4,
h5,
h6 {
   font-family: $heading-font;
   color: inherit;
   line-height: 1.1;
   font-weight: 500;
	position: relative;
   margin: 0 0 1.25rem;
   text-rendering: optimizeLegibility;
}

h1 {
   @include fluid-type($screen-s-min, $screen-xxl-min, 42px, 50px);
}

h2 {
   @include fluid-type($screen-s-min, $screen-xxl-min, 36px, 42px);
}

h3 {
   @include fluid-type($screen-s-min, $screen-xxl-min, 30px, 36px);
}

h4 {
   @include fluid-type($screen-s-min, $screen-xxl-min, 24px, 30px);
}

h5 {
   @include fluid-type($screen-s-min, $screen-xxl-min, 22px, 24px);
}

h6 {
   @include fluid-type($screen-s-min, $screen-xxl-min, 18px, 22px);
}

p {
   margin: 0 0 1.25rem;
}

a {
   text-decoration: none;
   outline: none;
   cursor: pointer;
   transition: color 150ms ease-in-out;
   display: inline-block;
   color: $link-color;

   &:hover,
   &:active,
   &:focus {
      color: $link-hover-color;
   }
}


blockquote {
}


hr {
    border: solid #eee;
    border-width: 1px 0 0;
    clear: both;
    margin: 1.25rem 0 1.1875rem;
    height: 0;
    box-sizing: content-box;
}
