
.event {
   display: flex;
   flex-wrap: wrap;
   align-items: flex-start;
   align-items: stretch;
   align-content: flex-start;
   margin: 0 0 2em;

   &__photo {
      width: 100%;
      text-align: center;
      padding: 0 0 1.5em;
      max-width: 400px;
      margin-left: auto;
      margin-right: auto;

      @include breakpoint($screen-m-min) {
         text-align: left;
         padding-right: $gutter-width;
         width: 40%;
      }

      @include breakpoint($screen-l-min) {
         width: 30%;
      }

      /* IE Fix to contain image */
      a {
         display: block;
      }
   }

   &__content {
      width: 100%;

      @include breakpoint($screen-m-min) {
         width: 60%;
      }

      @include breakpoint($screen-l-min) {
         width: 70%;
      }
   }

   &__content {

   }

   &__header {
      padding: 0 0 $padding-vertical ;
   }

   &__title {
      margin: 0;
      font-size: 30px;
   }

   &__subtitle {
      font-size: 20px;
      margin-top: 0.15em;
      color: darken($white, 20%);
   }

   &__text {
   }

   &__location {
      text-align: left;
      padding: 0 0 $padding-vertical;

      &__title {
         display: inline-block;
         vertical-align: middle;
      }

      &__address {
         display: block;
      }

      &__address,
      &__directions {
         padding-left: 1.7em;
      }

      &__directions {

      }
   }

   &__actions {
   }
}
