/*
* Fonts
* ======================================================================== */

$body-font: 'Roboto', sans-serif;
$heading-font: 'Bellefair', serif;

$font-base-size: 16px;
$font-size-base-lg: 18px;
$font-size-lg: ceil(($font-base-size * 1.25));
$font-size-sm: ceil(($font-base-size * .85));

$line-height-default: 1.5;

/*
* Colors
* ======================================================================== */

$white: #fff;
$white-smoke: #F5F5F5;
$black: #000;

$gray-base:    #000;
$gray-darker:  lighten($gray-base, 13.5%);
$gray-dark:    lighten($gray-base, 20%);
$gray:         lighten($gray-base, 33.5%);
$gray-light:   lighten($gray-base, 46.7%);
$gray-lighter: lighten($gray-base, 93.5%);

$primary-color: #660066;
$secondary-color: $gray-light;

$body-bg:    $black;
$text-color: $white-smoke;


$link-color: #aaccff;
$link-hover-color: darken($link-color, 15%);

$danger-color: #EE204D;

$light: rgba(250,250,250,.9);
$dark: rgba(0,0,0,.8);


/*
* Spacing
* ======================================================================== */
$padding-vertical: 1rem;
$padding-horizontal: 16px;

$max-container-width: 1400px;
$gutter-width: 30px;

/*
* Media Query Breakpoints
* ======================================================================== */

$screen-xs-min: 0;
$screen-s-min: 480px; /* Extra small screen / phone */
$screen-m-min: 768px; /* Small screen / tablet */
$screen-l-min: 992px; /* Medium screen / desktop */
$screen-xl-min: 1200px; /* Large screen / wide desktop */
$screen-xxl-min: 1400px;
